<h1>Dashboard</h1>

{{!-- Form to add a new thought --}}
<form action="/thought" method="POST">
  <input name="title" type="text" placeholder="Enter your title">
  <input name="text" type="text" placeholder="Share your thought">
  <button>Submit</button>
</form>

{{!-- Loop through all the thoughts and display them --}}
{{#each thoughts}}
  <div class="thought">
    <h2>
      <a href="/dashboard/{{id}}">{{title}}</a>
    </h2>
    <p>{{text}}</p><br>
    <p>Created On: {{createdAt}}</p>
  </div>
{{/each}}

<script src="/js/browser.js"></script>

